<launch>
  <include file="$(find rocon_app_manager)/launch/concert_client.launch">
    <arg name="robot_name" value="shared_database"/>
    <arg name="robot_type" value="pc"/>
    <arg name="concert_name" value="multinav_concert"/>
    <arg name="app_lists" value="$(find multinav_database)/rapps/shared_database.rapps"/>
  </include>
</launch>
