<launch>
  <node pkg="concert_service_roslaunch" name="static_link_graph" type="static_link_graph_service.py">
    <param name="filename" value="$(find chatter_concert)/services/chatter/chatter.link_graph"/>
    <param name="requester_type" value="$(optenv CONCERT_REQUESTER_TYPE resource_pool_requester)"/>  <!-- options are demo, resource_pool_requester -->
  </node>
</launch>
