name: Chatter
description: Dudes and dudettes chatting. 
author: Daniel Stonier
# if commented, priority will be scheduler_msgs.Request.DEFAULT_PRIORITY (0), also BACKGROUND, LOW, DEFAULT, HIGH, CRITICAL
# priority: 0
launcher_type: roslaunch
launcher: chatter_concert/chatter
interactions: chatter_concert/chatter
parameters: chatter_concert/chatter