<!--
  Orchestration
 -->
<launch>
  <node name="orchestration" pkg="rocon_orchestra" type="orchestra.py" output="screen">
    <param name="dot_graph" textfile="$(find turtle_concert)/orchestration/implementation.dot" />
    <rosparam file="$(find turtle_concert)/yaml/implementation.yaml" command="load"/>
    <param name="auto_start" value="false"/>
  </node>
</launch>
