<!--
  Launches the infrastructure running on a robot (turtle). 
 -->
<launch>
  <arg name="turtle_name" default="turtle" />
  <include file="$(find rocon_app_manager)/launch/concert_client.launch">
    <arg name="robot_name" value="$(arg turtle_name)"/>
    <arg name="robot_type" value="pc"/>
    <arg name="concert_name" value="turtle_concert"/>
    <arg name="app_lists" value="$(find turtle_concert)/apps/turtle_concert.apps"/>
  </include>
</launch>
