<launch>

  <!-- <param name="/use_sim_time" value="true" /> -->
  <arg name="gazebo_services" default="gazebo_concert/gazebo.services"/>
  <arg name="concert_name" default="Gazebo Concert"/>
  <arg name="scheduler_type" default="compatibility_tree"/>
  <arg name="local_clients_only" default="false"/>

  <include file="$(find concert_master)/launch/concert_master.launch">
      <arg name="concert_name" value="$(arg concert_name)"/>
      <arg name="services" value="$(arg gazebo_services)"/>
      <arg name="conductor_auto_invite" value="true" />
      <arg name="conductor_local_clients_only" value="$(arg local_clients_only)" />
      <arg name="default_auto_enable_services" value="all" />
      <arg name="scheduler_type" value="$(arg scheduler_type)"/>
  </include>
</launch>
