<!--
  Orchestration
 -->
<launch>
    <node ns="concert" name="smach" pkg="museum_smach" type="museum_smach.py" output="screen">
      <remap from="recognized_cmd" to="/xoom/voice_cmd/recognized_cmd"/>
      <remap from="teleop_cmd" to="/robosem/application/teleop_cmd"/>
      <remap from="panorama" to="/kobukibot/application/panorama"/>
      <remap from="take_pano" to="/kobukibot/application/take_pano"/>
      <remap from="photo" to="/kobukibot/application/photo"/>
      <remap from="take_photo" to="/kobukibot/application/take_photo"/>
      <remap from="call" to="/kobukibot/application/call"/>
      <remap from="dismiss" to="/kobukibot/application/dismiss"/>
      <remap from="change_background" to="/projector/application/change_background"/>

      <remap from="set_cmd_list" to="/xoom/voice_cmd/set_cmd_list"/>
    </node>
</launch>
