<launch>
  <arg name="zeroconf" default="true"/>

  <include file="$(find chatter_concert)/launch/includes/_concert_client.xml">
    <arg name="concert_client_name" value="Dudette" />
    <arg name="zeroconf" value="$(arg zeroconf)"/>
    <arg name="auto_start_pairing" value="Talker"/>
  </include>
</launch>
