<launch>
    <include file="$(find concert_master)/launch/concert_master.launch">
        <arg name="concert_name" value="Turtle Concert"/>
        <arg name="service_lists" value="turtle_concert/turtle_concert.services"/>
        <arg name="conductor_auto_invite" value="true" />
        <arg name="conductor_local_clients_only" value="true" />
        <arg name="auto_enable_services" value="true" />
        <arg name="scheduler_type" value="$(optenv CONCERT_SCHEDULER_TYPE compatibility_tree)"/>  <!-- options are demo, compatibility_tree -->
    </include>
</launch>
