<launch>
  <!-- <env name="ROS_MASTER_URI" value="http://localhost:11314"/> -->
  <include file="$(find concert_client)/launch/client.launch">
    <arg name="robot_name" value="turtlesim"/>
    <arg name="robot_type" value="pc"/>
    <arg name="concert_name" value="turtle_concert"/>
    <arg name="app_lists" value="$(find turtle_concert)/apps/turtle_concert.apps"/>
  </include>
</launch>
