<!--
  Launches the infrastructure running on a robot (turtle). 
 -->
<launch>
    <arg name="turtle_name" default="turtle"/>
    <include file="$(find rocon_app_manager)/launch/concert_client.launch">
        <arg name="robot_name" value="$(arg turtle_name)"/>
        <arg name="concert_whitelist" value="Turtle Concert;Concert Tutorial"/>
        <arg name="robot_type" value="pc"/>
	    <arg name="rapp_package_whitelist" value="[turtle_concert]" />
	    <arg name="rapp_package_blacklist" value="[]" />
        <arg name="gateway_watch_loop_period" value="1"/> <!-- flip faster, convenient -->
        <arg name="gateway_firewall" value="false"/>
        <arg name="local_remote_controllers_only" value="true"/>
        <arg name="screen" value="true" />
    </include>
    <node pkg="turtle_concert" type="hatchling.py" name="hatchling">
      <remap from="hatchling/remote_controller" to="app_manager/remote_controller"/>
      <!-- Concert turtlesim service remaps -->
      <remap from="hatchling/spawn/request" to="services/turtlesim/spawn/request"/>
      <remap from="hatchling/spawn/response" to="services/turtlesim/spawn/response"/>
      <remap from="hatchling/kill/request" to="services/turtlesim/kill/request"/>
      <remap from="hatchling/kill/response" to="services/turtlesim/kill/response"/>
    </node>
</launch>
