<launch>
    <include file="$(find concert_master)/launch/concert_master.launch">
        <arg name="concert_name" value="Concert Tutorial"/>
        <arg name="service_lists" value="concert_tutorial/tutorial.services"/>
        <arg name="concert_auto_invite" value="true" />
        <arg name="auto_enable_services" value="true" />
    </include>
</launch>
