<launch>
    <include file="$(find concert_master)/launch/concert_master.launch">
        <arg name="concert_name" value="Concert Tutorial"/>
        <arg name="services" value="concert_tutorial/tutorial.services"/>
        <arg name="conductor_auto_invite" value="true" />
        <arg name="conductor_local_clients_only" value="true" />
        <arg name="auto_enable_services" value="true" />
        <arg name="scheduler_type" value="compatibility_tree"/>
    </include>
</launch>
