<!-- 
   An example that loads up some pairing interactions with a standalone app manager.
-->
<launch>
  <include file="$(find rocon_app_manager)/launch/standalone.launch">
    <arg name="interactions"           value="true"/>
    <arg name="interactions_list"      value="[rocon_interactions/pairing, rocon_app_manager_tutorials/pairing]"/>
    <arg name="rapp_package_whitelist" value="[rocon_apps]"/>
    <arg name="robot_name"             value="Cybernetic Pirate"/>
    <arg name="robot_type"             value="pc"/>
    <arg name="robot_icon"             value="rocon_icons/cybernetic_pirate.png"/>
    <arg name="robot_description"      value="A tutorial environment for demonstrating pairing interactions." />
  </include>
</launch>

