<!--
  Works with rocon_gateway_tutorials/pirate_hub.launch - uses a non-default hub
  name so we can test hubs in parallel. 
-->
<launch>
  <arg name="gateway_name" default="pirate_gateway"/>
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"  output="screen"/>

  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
    <rosparam param="hub_whitelist">Pirate Hub</rosparam>  <!-- Currently using semi-colon separated string list -->
    <param name="name" value="$(arg gateway_name)"/>
    <rosparam param="firewall">false</rosparam>
  </node>
</launch>
